.git
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.log
.DS_Store
node_modules
src/frontend/.next
src/frontend/node_modules
src/frontend/dist
open_data
raw_data
ngsi_ld_entities
*.ipynb
*.csv
*.geojson
*.ndjson
*.parquet
.cursor
.idea
.vscode

